pipeline/PL_FUSION_SOURCE_TO_LAND.json
{
	"name": "PL_FUSION_SOURCE_TO_LAND",
	"properties": {
		"activities": [
			{
				"name": "CPY_SOURCE_TO_LANDING_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeSink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"ON_ERROR": "CONTINUE"
							}
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_FUSION_BLOB_INPUT_CSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SnowDynamicDataset",
						"type": "DatasetReference",
						"parameters": {
							"SnowFileName": {
								"value": "EMPLOYEE",
								"type": "Expression"
							},
							"SnowSchemaName": {
								"value": "@pipeline().parameters.SCHEMA_NAME",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "EMAIL_SUCCESS",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CPY_SOURCE_TO_LANDING_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-23.australiaeast.logic.azure.com:443/workflows/d8931bd55622434780d5c0f6a0e887df/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Fwz947WiGUqHh5dtvm1GSxFM14YUbIhpTYwFUxix65Q",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"PIPELINE SUCCEEDED!\",\n    \"message\": \"Pipeline for @{variables('TableName')} run finished successfully!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EMAIL_FAILURE",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CPY_SOURCE_TO_LANDING_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-23.australiaeast.logic.azure.com:443/workflows/d8931bd55622434780d5c0f6a0e887df/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Fwz947WiGUqHh5dtvm1GSxFM14YUbIhpTYwFUxix65Q",
					"method": "POST",
					"body": {
						"value": "{\n    \"title\": \"PIPELINE Failed!\",\n    \"message\": \"Pipeline for @{variables('TableName')} got Failed!\",\n    \"color\": \"Green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SCHEMA_NAME": {
				"type": "string",
				"defaultValue": "ARN_LANDING"
			}
		},
		"variables": {
			"TableName": {
				"type": "String"
			},
			"FileType": {
				"type": "String"
			},
			"SchemaVar": {
				"type": "String"
			},
			"JsonFileName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "FUSION"
		},
		"annotations": []
	}
}